.form-style-7{
	max-width:400px;
	margin:20px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.form-style-7 div{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:50px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#form {
  border: 1px solid black;
  background-color: rgb(178, 178, 178);
  height: 750px;
  width: 350px;
  overflow-y:auto
}

.box {
  width: 200px;
}

#button {
  border-radius: 50px;
  width: 100px;
  height: 40px;
  border: none;
}
